@import './base.css';

#app {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button,
select {
  border: none;
  border-radius: 0.25rem;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  transition: 300ms;
  box-shadow: 0 0 20px 0 #7d959044;
}

button:hover, select:hover {
  background-color: rgb(43, 43, 43);
  color: rgb(75, 145, 145);
  cursor: pointer;
}

button {
  padding: 0.25rem 0.7rem;
  background-color: rgb(75, 145, 145);
  color: white;
  box-shadow: 0 0 20px 0 #00000044;
}

select {
  padding: 0.5rem 0.7rem;
  border-right: 1rem solid transparent;
  background-color: rgb(148, 199, 199);
  color: rgb(61, 61, 61);
}

#app,
button,
select,
input {
  font-size: 1.2rem;
}

h2 {
  font-family: 'Nunito', sans-serif
}
